nav {
  background-color: #f9f9f9;
}
nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  padding: 10px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav a {
  text-decoration: solid;
  color: #333;
  font-weight: bold;
  /*text-align: right;*/
  margin-right: 20px;
}
nav a.active-link {
  text-decoration: underline;
  color: #d9534f; /* Rouge */
}

img {
  /*border-radius: 50%;*/


}
