<nav>

      <ul>

        <li><a [routerLink]="['/home']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Accueil</a></li>
        <a href="https://www.etic-consulting.fr/" title = "Etic Consulting" target="_blank">
          <img ngSrc="../../../assets/LogoETIC.png" alt="logo" width="231" height="104" >
        </a>
        <li><a [routerLink]="['/dashboard1']" routerLinkActive="active-link">Tableau de Bord Copil</a></li>
        <li><a [routerLink]="['/dashboard2']" routerLinkActive="active-link">Tableau de Bord Détaillé</a></li>
      </ul>
    </nav>

