<main>
  <section class="dashboard">
    <h2>Tableau de Bord Détaillé</h2>
    <button id="bouton2023" type="button" (click)="switch(2023)" [ngClass]="{'active-button': anne === 2023}"> 2023 </button>
    <button id="bouton2024" type="button" (click)="switch(2024)" [ngClass]="{'active-button': anne === 2024}"> 2024 </button>
    <div >
      <iframe id="PBI" class="dashboard-content" title="RapportBDDV1" width="100%" height="100%" src="about:blank" frameborder="0" allowFullScreen="true"></iframe>
    </div>
  </section>
</main>



